<%= form_for sheet, as: :spree_sheet, url: admin_sheet_global_map_patch_path, remote: true do |f| %>
  
  <div id="global_map_props">
    <% if sheet.data and sheet.data['global_map'] and !sheet.data['global_map'].empty? %>
      <% sheet.data['global_map'].each do |item| %>
        <%= render partial: 'global_map_item', locals: {idx: item[0], item: item[1]} %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= link_to admin_sheet_global_map_item_path(sheet.id), remote: true, method: :get, class: 'btn btn-sm btn-default' do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Global Property
    <% end %>
  </div>

  <div class="form-group submit-group">
    <%= f.submit 'Save Global Mapping', class: 'btn btn-lg btn-success btn-block', tabindex: 3, disabled: false, id: 'submit_global_map' %>
  </div>
<% end %>
