<%= form_for sheet, as: :spree_sheet, url: admin_sheet_header_map_patch_path, remote: true, :html => {id: 'header_map'} do |f| %>
  
  <div id="header_map_items">
    <% sheet.data["header_map"].each_with_index do |header, idx| %>
      <%= render partial: 'header_map_item', locals: {sheet: sheet, header: header[1], idx: idx} %>
    <% end unless sheet.data["header_map"].nil? %>
  </div>

  <div class="form-group">
    <%= link_to admin_sheet_header_map_item_path(@sheet.id), remote: true, method: :get, class: 'btn btn-sm btn-default' do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Header Map Item
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit 'Save Header Mapping', class: 'btn btn-lg btn-success btn-block', tabindex: 3, disabled: false, id: 'submit_header_map' %>
  </div>
  
<% end %>
